#moreinfo.modal.fade
  .modal-dialog.modal-lg
    .modal-content
      .modal-body
        h2.text-center There are no formulas for love...
        p.text-center
          | ... but there is a formula that produces an algebraic surface shaped like a heart.
          | You can modify it or tweak its parameters to match your feelings.
        .text-center.mt-4.mb-2
          img(src='assets/img/favicon.png', style='width: 60px;')
        p.imaginary-info.text-center
          | This site was created by IMAGINARY, a travelling exhibition that shows mathematics can be beautiful,
          | interactive, something you can touch, or a way to express your feelings beyond what words can achieve.
          | It has visited over 55 countries since 2007.
          |
        p.text-center
          a(href='http://10years.imaginary.org') Learn more about IMAGINARY
        p.credits-info.text-center
          | Raytracer by Aaron Montag.
          br
          | Created using
          |
          a(href='https://cindyjs.org') CindyJS
          |
          | by Jürgen Richter-Gebert.
        button.close(type='button', data-dismiss='modal')
          span &times;