doctype html
html(lang="en")
  head
    meta(charset="UTF-8")
    meta(name='viewport', content='width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0')
    meta(property="og:type", content="website")
    meta(property="og:title", content!=config.siteName)
    meta(name="description", content!=(description || config.siteDescription))
    meta(property="og:description", content!=(description || config.siteDescription))
    title
      != config.siteName
    link(rel="icon", type="image/png", href="assets/img/favicon.png")
    script(src="vendor/viewer/cindy-viewer.js")
  style.
    html, body {
      height: 100%;
      width: 100%;
      padding: 0;
      margin: 0;
    }
    body {
      background-color: white;
    }
    .cindy-viewer {
      height: 100%;
      width: 100%;
    }
  body
    .cindy-viewer(data-cindy-src="index.html", data-cindy-appwidth="1170", data-cindy-appheight="800")