body {
  background-color: #e7728c; }

.boxed {
  background-color: #ffdbeb;
  padding: 0.5em;
  margin: 0.5em 0; }
  .boxed p:last-child {
    margin-bottom: 0; }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.viz-wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 100px; }
  @media (max-width: 991.98px) {
    .viz-wrapper {
      height: 0;
      padding-bottom: 72%;
      margin-bottom: 1em;
      margin-top: 5em; } }

.cindy-viewer {
  display: block;
  width: 100%;
  height: 100%; }
  @media (max-width: 991.98px) {
    .cindy-viewer {
      height: 0;
      padding-bottom: 72%;
      margin-bottom: 1em; } }

.input-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 100;
  text-align: center; }
  @media (max-width: 991.98px) {
    .input-wrapper {
      position: relative;
      padding: 0 10px; } }

#input-field {
  display: inline-block;
  width: 638px;
  background-color: transparent;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #89241c;
  border: 2px dashed #ffdbeb;
  padding: 10px 5px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #input-field {
      width: 600px; } }
  @media (max-width: 575.98px) {
    #input-field {
      width: 100%;
      margin-bottom: 1em;
      font-size: 20px; } }
  #input-field:focus {
    outline: none;
    border-color: #ffffff; }
  #input-field:hover {
    border-color: #ffffff; }

#redraw-button {
  cursor: pointer;
  display: inline-block;
  line-height: 2.3em;
  font-size: 20px;
  margin: 0;
  vertical-align: baseline;
  margin-left: 0.3em;
  font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  background-color: #e80068;
  border: 2px solid #ffdbeb;
  color: #ffffff;
  padding: 5px 15px; }
  #redraw-button:focus {
    outline: none;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
    background-color: #cf005d;
    border: 2px solid #ffc2dd; }
  #redraw-button:hover {
    background-color: #cf005d; }

.logo-imaginary {
  display: block;
  width: 200px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  background-image: url("../img/imaginary-logo-white.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.credits-home {
  display: block;
  width: 200px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 100;
  font-size: 13px;
  color: #ffffff;
  opacity: 0.7;
  font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal; }
  .credits-home:hover {
    color: #ffffff;
    text-decoration: none;
    opacity: 1; }

.icon-info {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  background-image: url("../img/info-circle-solid.svg");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.info-formula {
  display: inline-block;
  padding: 0.1em 0.3em;
  background-color: #ddd;
  font-size: 13px; }

.modal-content {
  box-shadow: 0 0 30px -6px black;
  border: none;
  border-radius: 0; }

.modal-backdrop.show {
  opacity: 0.2; }

.modal-body {
  padding: 2rem 5rem;
  font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal; }
  .modal-body b, .modal-body strong {
    font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans-serif;
    font-weight: bold;
    font-style: normal;
    letter-spacing: normal; }
  .modal-body a {
    color: #e80068; }
  .modal-body button.close {
    position: absolute;
    top: 20px;
    right: 20px; }
  @media (max-width: 991.98px) {
    .modal-body {
      padding: 2rem 1rem; } }

/*# sourceMappingURL=default.css.map */
