body {
  background-color: #ffffff; }

.boxed {
  background-color: #ffffff;
  padding: 0.5em;
  margin: 0.5em 0; }
  .boxed p:last-child {
    margin-bottom: 0; }

.lds-heart {
  display: inline-block;
  position: relative;
  width: 64px;
  height: 64px;
  transform: rotate(45deg);
  transform-origin: 32px 32px; }

.lds-heart div {
  top: 23px;
  left: 19px;
  position: absolute;
  width: 26px;
  height: 26px;
  background: #ffdbe1;
  animation: lds-heart 1.2s infinite cubic-bezier(0.215, 0.61, 0.355, 1); }

.lds-heart div:after,
.lds-heart div:before {
  content: " ";
  position: absolute;
  display: block;
  width: 26px;
  height: 26px;
  background: #ffdbe1; }

.lds-heart div:before {
  left: -17px;
  border-radius: 50% 0 0 50%; }

.lds-heart div:after {
  top: -17px;
  border-radius: 50% 50% 0 0; }

@keyframes lds-heart {
  0% {
    transform: scale(0.95); }
  5% {
    transform: scale(1.1); }
  39% {
    transform: scale(0.85); }
  45% {
    transform: scale(1); }
  60% {
    transform: scale(0.95); }
  100% {
    transform: scale(0.9); } }

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0; }

.viz-wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 100px; }
  @media (max-width: 991.98px) {
    .viz-wrapper {
      height: 0;
      padding-bottom: 72%;
      margin-bottom: 1em;
      margin-top: 5em; } }

.cindy-viewer {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s; }
  @media (max-width: 991.98px) {
    .cindy-viewer {
      height: 0;
      padding-bottom: 72%;
      margin-bottom: 1em; } }

.loader {
  position: absolute;
  top: 7em;
  width: 100%;
  height: 64px;
  z-index: 1000;
  text-align: center; }
  .loader .lds-heart {
    display: inline-block; }

.widget-loaded .cindy-viewer {
  opacity: 1; }

.widget-loaded .loader {
  display: none; }

.input-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 100;
  text-align: center; }
  @media (max-width: 991.98px) {
    .input-wrapper {
      position: relative;
      padding: 0 10px; } }

#input-field {
  display: inline-block;
  width: 638px;
  background-color: transparent;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: #e7304d;
  border: 2px dashed #ffdbe1;
  padding: 10px 5px;
  text-align: center; }
  @media (min-width: 768px) and (max-width: 991.98px) {
    #input-field {
      width: 600px; } }
  @media (max-width: 575.98px) {
    #input-field {
      width: 100%;
      margin-bottom: 1em;
      font-size: 20px; } }
  #input-field:focus {
    outline: none;
    color: #e31a3a;
    border-color: #e7304d; }
  #input-field:hover {
    color: #e31a3a;
    border-color: #e7304d; }

#redraw-button {
  cursor: pointer;
  display: inline-block;
  line-height: 2.3em;
  font-size: 20px;
  margin: 0;
  vertical-align: baseline;
  margin-left: 0.3em;
  font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal;
  background-color: #ffdbe1;
  border: 2px solid #e7304d;
  color: #cc1834;
  padding: 5px 15px; }
  #redraw-button:focus {
    outline: none;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
    background-color: #ffc2cc;
    border: 2px solid #e31a3a; }
  #redraw-button:hover {
    background-color: #ffc2cc; }

.embeded .logo-imaginary, .embeded .credits-home {
  display: none; }

.embeded .viz-wrapper {
  height: 0;
  padding-top: 0em;
  padding-bottom: 72%;
  margin-top: 0em; }

.embeded .cindy-viewer {
  height: 0;
  padding-bottom: 72%;
  margin-top: 0em; }

.embeded .input-wrapper {
  position: absolute;
  padding: 0; }

.embeded #input-field {
  width: 470px;
  margin-bottom: 0;
  font-size: 18px; }

.embeded #redraw-button {
  font-size: 18px;
  padding: 3px 8px; }

.logo-imaginary {
  display: block;
  width: 200px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  background-image: url("../img/imaginary-logo-gray.png");
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat; }

.credits-home {
  display: block;
  width: 200px;
  height: auto;
  position: absolute;
  top: 50px;
  left: 20px;
  z-index: 100;
  font-size: 13px;
  color: #646363;
  opacity: 0.7;
  font-family: Ubuntu, "Trebuchet MS", Helvetica, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  letter-spacing: normal; }
  .credits-home:hover {
    color: #646363;
    text-decoration: none;
    opacity: 1; }

/*# sourceMappingURL=default.css.map */
