.logo-imaginary {
  display: block;
  width: 200px;
  height: 24px;
  position: absolute;
  top: 20px;
  left: 20px;
  z-index: 100;
  background-image: url('../img/imaginary-logo-white.png');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}

.icon-info {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: 15px;
  right: 15px;
  z-index: 100;
  background-image: url('../img/info-circle-solid.svg');
  background-size: contain;
  background-position: center center;
  background-repeat: no-repeat;
}