html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

.viz-wrapper {
  width: 100%;
  height: 100%;
  padding-bottom: 100px;
  @include media-breakpoint-between(xs, md) {
    height: 0;
    padding-bottom: 72%;
    margin-bottom: 1em;
    margin-top: 5em;
  }
}

.cindy-viewer {
  display: block;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s;
  @include media-breakpoint-between(xs, md) {
    height: 0;
    padding-bottom: 72%;
    margin-bottom: 1em;
  }
}

.loader {
  position: absolute;
  top: 7em;
  width: 100%;
  height: 64px;
  z-index: 1000;
  text-align: center;
  .lds-heart {
    display: inline-block;
  }
}

.widget-loaded {
  .cindy-viewer {
    opacity: 1;
  }
  .loader {
    display: none;
  }
}

.input-wrapper {
  position: absolute;
  bottom: 20px;
  width: 100%;
  z-index: 100;
  text-align: center;

  @include media-breakpoint-between(xs, md) {
    position: relative;
    padding: 0 10px;
  }
}

#input-field {
  display: inline-block;
  width: 638px;
  background-color: transparent;
  margin: 0 auto;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 24px;
  letter-spacing: 1px;
  color: $color-red-dark;
  border: 2px dashed $color-pink-light;
  padding: 10px 5px;
  text-align: center;

  @include media-breakpoint-only(md) {
    width: 600px;
  }

  @include media-breakpoint-only(xs) {
    width: 100%;
    margin-bottom: 1em;
    font-size: 20px;
  }



  &:focus {
    outline: none;
    border-color: #ffffff;
  }

  &:hover {
    border-color: #ffffff;
  }
}

#redraw-button {
  cursor: pointer;
  display: inline-block;
  line-height: 2.3em;
  font-size: 20px;
  margin: 0;
  vertical-align: baseline;
  margin-left: 0.3em;
  @include ubuntu;
  background-color: $color-pink-wild;
  border: 2px solid $color-pink-light;
  color: #ffffff;
  padding: 5px 15px;
  &:focus {
    outline: none;
    box-shadow: 0 0 10px -1px rgba(0, 0, 0, 0.5);
    background-color: darken($color-pink-wild, 5%);
    border: 2px solid darken($color-pink-light, 5%);
  }

  &:hover {
    background-color: darken($color-pink-wild, 5%);
  }
}

.embeded {
  .logo-imaginary, .credits-home, .icon-info {
    display: none;
  }

  .viz-wrapper {
    height: 0;
    padding-top: 0em;
    padding-bottom: 72%;
    margin-top: 0em;
  }

  .cindy-viewer {
    height: 0;
    padding-bottom: 72%;
    margin-top: 0em;
  }

  .input-wrapper {
    position: absolute;
    padding: 0;
  }

  #input-field {
    width: 470px;
    margin-bottom: 0;
    font-size: 18px;
  }

  #redraw-button {
    font-size: 18px;
    padding: 3px 8px;
  }

  .modal-dialog {
    max-width: 560px;
    margin: 1.25rem auto;
  }
}