$color-pink-light: #ffdbeb;
$color-pink-wild: #e80068;
$color-red-dark: #89241c;

$color-phaenomenta-white: #ffffff;
$color-phaenomenta-gray: #646363;
$color-phaenomenta-amaranth: #e7304d;
$color-phaenomenta-amaranth-light: #ffdbe1;
$color-phaenomenta-amber: #fbba00;
$color-phaenomenta-mulberry: #c44f91;
